<a href="https://colab.research.google.com/github/sailohitaksh-cryptic/Assignment-01-Python-Assignment/blob/main/Assignment_1_Python_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python Assignment

QI. L is a list as defined [11, 12, 13, 14].
* WAP to add 50 and 60 to L.
* WAP to remove 11 and 13 from L.
* WAP to sort L in ascending order.
* WAP to sort L in descending order.
* WAP to search for 13 in L.
* WAP to count the number of elements present in L.
* WAP to sum all the elements in L.
* WAP to sum all odd numbers in  L.
* WAP to sum all even numbers in L.
* WAP to sum all PRIME numbers in L.
* WAP to clear all elements in L.
* WAP to delete L.

In [16]:
L = [11, 12, 13, 14]

In [30]:
def add_elements():
    L.extend([50, 60])

def remove_elements():
    L.remove(11)
    L.remove(13)

def sort_ascending():
    L.sort()

def sort_descending():
    L.sort(reverse=True)

def search_element(element):
    if element in L:
        return True
    else:
        return False

def count_elements():
    return len(L)

def sum_elements():
    return sum(L)

def sum_odd_numbers():
    return sum([num for num in L if num % 2 != 0])

def sum_even_numbers():
    return sum([num for num in L if num % 2 == 0])

def is_prime(number):
    if number < 2:
        return False
    for i in range(2, int(number**0.5) + 1):
        if number % i == 0:
            return False
    return True

def sum_prime_numbers():
    return sum([num for num in L if is_prime(num)])

def clear_list():
    L.clear()

def delete_list():
    global L
    del L

In [18]:
add_elements()
print("List after adding 50 and 60:", L)

List after adding 50 and 60: [11, 12, 13, 14, 50, 60]

In [19]:
remove_elements()
print("List after removing 11 and 13:", L)

List after removing 11 and 13: [12, 14, 50, 60]

In [20]:
sort_ascending()
print("List sorted in ascending order:", L)

List sorted in ascending order: [12, 14, 50, 60]

In [21]:
sort_descending()
print("List sorted in descending order:", L)

List sorted in descending order: [60, 50, 14, 12]

In [22]:
element = 13
if search_element(element):
    print(element, "is present in the list.")
else:
    print(element, "is not present in the list.")

13 is not present in the list.

In [23]:
print("Number of elements in the list:", count_elements())

Number of elements in the list: 4

In [24]:
print("Sum of all elements in the list:", sum_elements())

Sum of all elements in the list: 136

In [25]:
print("Sum of all odd numbers in the list:", sum_odd_numbers())

Sum of all odd numbers in the list: 0

In [26]:
print("Sum of all even numbers in the list:", sum_even_numbers())

Sum of all even numbers in the list: 136

In [27]:
print("Sum of all prime numbers in the list:", sum_prime_numbers())

Sum of all prime numbers in the list: 0

In [28]:
clear_list()
print("List after clearing all elements:", L)

List after clearing all elements: []

In [31]:
delete_list()
print("List deleted.")

List deleted.